.searchpage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

@media screen and (max-width: 1280px) {
    .searchpage {
        padding: 0 5px;
    }
}