$grey1: #0F1011;
$grey2: #191A1E;
$grey3: #9a9a9a;
$white1: #F4F4F5;

$width: 1280px;
$header-minheight: 30px;


.header {
    min-height: $header-minheight;
    background-color: $grey1;
    padding: 15px 0;
    font-family: sans-serif;
    font-weight: 300;
}

.container {
    max-width: $width;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-item {
    color: $grey3;
    font-size: 20px;
    
    &:hover {
        color: $white1;
    }
}

.search{
    width: 500px;
    height: 40px;
    border-radius: 7px;
    font-size: 20px;
    margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .search{
        max-width: 250px;
        height: 40px;
        border-radius: 7px;
        font-size: 20px;
    }
}