.book-title {
    display: block;
    font-size: 26px;
}

.book-minititle {
    display: block;
    font-size: 20px;
}

.about-book {
    display: flex;
    color: #F4F4F5;
    background-color: rgba(15,16,17, 0.9);
    margin: 20px 0;
    border-radius: 7px;
}

.about-book-img{
    border-radius: 7px 0 0 7px;
    max-width: 128px;
    object-fit: contain;
}

.about-book-big-description {
    padding: 10px;
}

.about-book-description{
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    .about-book {
        justify-content: center;
        flex-direction: column;
    }

    .about-book-img{
        border-radius: 0;
    }
}